*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100%;
}
main{
    width:100%;
    margin: auto;
    max-width: 400px;
      min-height: 100vh;
    }
    .full-logo{
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .head-two{
        text-align: center;
        padding-top: 40px;
    }
    .welcome-img{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .head-three{
    padding: 30px;
}
.signin{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
 button{
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 70px;
    background-color: #0AC232;
    text-align: center;
    color:#FAFAFA;
    cursor: pointer;
}
.acct{
    display: flex;
    gap: 10px;
    
}
.color{
color: #FF9900;

}