*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
width: 100%;
}
main{
    width:100%;
    margin: auto;
    max-width: 400px;
      min-height: 100vh;
    }
    .full-logo{
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .head-two{
        text-align: center;
        padding-top: 40px;
    }
    .welcome-img{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .head-three{
    padding: 30px;
}
.signin{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
 button{
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 70px;
    background-color: #0AC232;
    text-align: center;
    color:#FAFAFA;
    cursor: pointer;
    width: 100%;
}
.acct{
    display: flex;
    gap: 10px;
    padding-left: 30px;
}
.color{
color: #FF9900;
}
.form-container{
    height: 10rem;
    padding: 5px;
}
.input-field {
    position: relative;
    padding-bottom: 2rem;
}
#password {
    position: relative;
}

.input-field > input {
    border: 1px solid#F5F5F5;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    background-color: #F5F5F5;
    font-family: "poppins","sans-serif";
}

.input-field > input:focus {
    outline: 1px solid #0AC232;
}

.input-field > input::placeholder {
    opacity: 30%;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.eye-icon {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}
.password-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 1rem;
    opacity:30% ;
}

.remember-me {
    padding-left: 0.5rem;
}

.forgot-password {
    font-size: 16px;
}
.forgot-password a {
    color: var(--navbar-text);
    text-decoration: none;
}
 .facebook{
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 50px;
    background-color: #0B41ABE5;
    text-align: center;
    color:#FAFAFA;
    cursor: pointer;
    width: 100%;
}
.facebook-btn{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.google{
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 50px;
    background-color: 
    #F5F5F5;
    text-align: center;
    color: #000000;
    cursor: pointer;
    width: 100%;
}
.google-btn{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}